.container {
  display: flex;
  width: 60vw;
  height: 60vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  border: 1px solid grey;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.dev .cell {
  border: 1px solid grey;
}

.ant {
  position: relative;
}

.ant:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '🐜';
}

.antVision {
  background-color: lightcyan;
}

.honey {
  position: relative;
  background-color: orange;
}

.honey:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '🍯';
}
