.container {
  display: flex;
  width: 60vw;
  height: 60vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid grey;
}

.ant {
  background-color: grey;
}
